{% extends 'BrocoutesBrocanteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/brocoutebrocante/css/job.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    {% block body -%}
        <h1>Manifestation</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th><label>Nom : </label></th>
                    <td>{{ entity.nom }}</td>
                </tr>
                <tr>
                    <th><label>Lieu : </label></th>
                    <td>{{ entity.lieu }}</td>
                </tr>
                <tr>
                    <th><label>Adresse : </label></th>
                    <td>{{ entity.adresse }}</td>
                </tr>


                <tr>
                    <th><label>Latitude : </label></th>
                    <td>{{ entity.latitude }}</td>
                </tr>
                <tr>
                    <th><label>Longitude : <label></th>
                    <td>{{ entity.longitude }}</td>
                </tr>

                <tr>
                    <th><label>Date d'ouverture : <label></th>
                    <td>{{ entity.dateouverture|date('d/m/Y') }}</td>
                </tr>

                <tr>
                    <th><label>Date de fermeture : <label></th>
                    <td>{{ entity.datefermeture|date('d/m/Y') }}</td>
                </tr>



            </tbody>
        </table>
        <iframe src="http://brocoutes.localhost/view_googlemap.php?lat={{ entity.latitude }}&lon={{ entity.longitude }}" width="500" height="500" frameborder="0" style="width: 500px;height: 500px;overflow: hidden;"></iframe> 
        <ul class="record_actions">
            <li>
                <a href="{{ path('manifestation_edit', { 'id': entity.id }) }}"> Edit </a> 
                {{ form(delete_form) }}
            </li>
            <li>
                <br/>
                <a href="{{ path('manifestation') }}">
                    Retour à liste des manifestations
                </a>
            </li>

       </ul>
    {% endblock %}
{% endblock %}
